* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.H1{
    background-color: brown;
    padding: 10px;

}

#todo-innerbox {
    margin-left: 35%;
    margin-top: 20px;;
}

#to-do-input {
    width: 30%;
    padding: 10px;
    font-size:16px;
    border:2px solid #ccc;
    border-radius: 6px;
    outline:none;
    margin-right:10px;
    transition: border-color 0.3s;

}
#ul {
    text-align: center;
}

#ul li {
    font-size: 30px;
}

#ul li button {
    margin-left:25%;
    padding:10px 15px;
    background-color: #a52a2a;
    cursor: pointer;
    color: #ffffff;
}

#ul li button:hover {
    background-color: #9acd32;
}

#to-do-input {
    border-color:brown;
}


#Add-Button {
    padding:10px 20px;
    font-size:16px;
    background-color: #a52a2a;
    color:white;
    border:none;
    border-radius:6px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#Add-Button:hover {
    background-color: #9acd32
}

#Add-button:hover {
    background-color: #992222
}
